{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | List {% endblock %}
{% block body %}
    <h3>Wishlist</h3>
    <section class="ideas-list">
        {# afficher les séries  #}
        {% for idea in ideas %}
            {% if idea.isPublished == true %}
                <article>
                    <a href="{{ path('wish_list_details', {'id':idea.id}) }}" title="View ideas details">
                        <div>
                          {{ idea.title | capitalize  }}
                        </div>
                    </a>
                </article>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}