<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('wish_list_ideas') }}" title="List of ideas">List of Ideas</a></li>
        <li><a href="{{ path('wish_create_wish') }}" title="Add wish">Add yours!</a></li>
        <li><a href="{{ path('main_about_us') }}" title="About us">About us</a></li>
    </ul>
</nav>